nav {
  padding-top: 0;
  padding-bottom: 0;
}

.brand-text a {
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: 600;
}

.brand-text a:hover,
.brand-text a:active,
.brand-text a:focus {
  color: var(--highlight-color);
  outline: none;
  text-decoration: none;
}

mat-icon {
  color: var(--highlight-color);
}

.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
}

.brand-icon {
  margin: 0 16px;
}

.header-icon {
  margin: 0 8px;
}

.rounded-button {
  height: 40px;
  border-radius: 25px;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 16px;
}

.searchbar {
  margin: auto 16px;
}

.searchbar input {
  padding-left: 10px;
  text-decoration: none;
  border: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  /* font-size: small; */
}

.searchbar input:focus {
  outline: none;
  text-decoration: none;
}

.search-button .header-icon {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  nav {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
