nav {
  padding-top: 0;
  padding-bottom: 0;
}
.header-font {
  color: var(--light-grey);
  font-size: larger;
  font-weight: 600;
}
.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
}

.brand-icon {
  margin: 0 16px;
}

.header-icon {
  margin: 0 8px;
}

.rounded-button {
  height: 40px;
  border-radius: 25px;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 16px;
}

.searchbar {
  margin: auto 16px;
}

.searchbar input {
  padding-left: 10px;
  text-decoration: none;
  border: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

/* .search-button {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
} */

.search-button .header-icon {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  nav {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
