<nav class="navbar navbar-expand-lg navbar-expand-md fixed-top navbar-dark bg-dark">

  <div class="brand">
    <a routerLink="/" mat-mini-fab color="white" class="brand-icon" aria-label="ecommerce store brand-icon">
      <mat-icon>shopping_basket</mat-icon>
    </a>
    <span class="brand-text"><a routerLink="/">E-Comm</a></span>
  </div>

  <button  type="button" class="navbar-toggler" aria-controls="nav-group" (click)="navgroup.toggle()" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
    <mat-icon class="header-icon">menu</mat-icon>
  </button>

  <div class="collapse navbar-collapse" id="nav-group" #navgroup="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <ul class="navbar-nav mx-auto my-3 justify-content-center align-items-center">
      <li>
        <form class="">
          <div class="input-group searchbar ml-4">
            <input type="text" class="form-control search-input" placeholder="Search here" aria-label="Search here">
            <div class="input-group-append">
              <button class="input-group-text search-button">
                <mat-icon class="header-icon">search</mat-icon>
                Search
              </button>
            </div>
          </div>
        </form>
      </li>
    </ul>

    <span class="spacer"></span>

    <ul class="justify-content-center align-items-center">
      <li>
        <button routerLink="/" mat-raised-button class="rounded-button ml-2" aria-label="my cart icon">
          <mat-icon class="header-icon">shopping_cart</mat-icon>
          My Cart
        </button>
      </li>

      <li>
        <div ngbDropdown class="d-inline-block">
          <button ngbDropdownToggle mat-raised-button class="rounded-button ml-2" id="user-action" aria-label="user icon">
            <mat-icon class="header-icon">person</mat-icon>
            User area
          </button>
          <div ngbDropdownMenu aria-labelledby="user-action">
            <ul class="useraction-ul">
              <li *ngIf="!userIsAuthenticated">
                <button ngbDropdownItem routerLink="/auth/login">
                  <mat-icon class="header-icon">login</mat-icon>
                  Login
                </button>
              </li>
              <li *ngIf="!userIsAuthenticated">
                <button ngbDropdownItem routerLink="/auth/signup">
                  <mat-icon class="header-icon">how_to_reg</mat-icon>
                  Signup
                </button>
              </li>

              <li *ngIf="userIsAuthenticated">
                <button ngbDropdownItem routerLink="/">
                  <mat-icon class="header-icon">face</mat-icon>
                  User Account
                </button>
              </li>
              <li *ngIf="userIsAuthenticated">
                <button ngbDropdownItem (click)="onLogout()">
                  <mat-icon class="header-icon">logout</mat-icon>
                  Logout
                </button>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>

  </div>

</nav>
