.category-title {
  margin-top: 50px;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #CE5937;
}

mat-nav-list a {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-grey);
}

.product-thumb {
  overflow: hidden;
  position: relative;
}
.product-thumb a {
  display: block;
}
.product-thumb img {
  width: 100%;
  height: auto;
}
.product-thumb .product-image {
  opacity: 1;
  transition: all .5s;
}

.transmitv-cart {
  font-size: 1em;
  color: #fff;
  margin: 0;
  text-decoration: none;
  border: none;
  background: none;
  outline: none;
}
.transmitv-cart:hover {
  box-shadow: none;
}
.add-to-cart {
  color: #fff;
  background-color: var(--highlight-color);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  padding: 10px 10px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -100%;
  transition: all .3s;
}
.add-to-cart:hover {
  background-color: var(--button-grey);
  text-decoration: none;
}
.product-grid:hover .add-to-cart {
  bottom: 0;
}

.product-content {
  padding: 20px 10px;
  text-align: center;
}
.product-title {
  font-size: 18px;
  margin: 0 0 6px 0;
  color: var(--highlight-color);
}

.product-title a {
  text-decoration: none;
  color: var(--button-grey);
  font-weight: 700;
}

.product-title a:hover {
  color: var(--highlight-color);
}

.product-price {
  color: var(--text-grey);
  font-size: 15px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
