<section class="product-category">
  <div class="py-5">
    <div class="container py-lg-2">
      <h1 class="category-title mb-5 text-center">{{featuredTitle}}</h1>

      <div class="row mt-lg-5 mt-3">

        <div class="col-md-3 mt-4">
          <mat-nav-list>
            <a mat-list-item [routerLink]="['/category', 'video-game']">Video Games</a>
            <a mat-list-item [routerLink]="['/category', 'fan-gear']">Fan Gear</a>
            <a mat-list-item [routerLink]="['/allproducts']">View All</a>
         </mat-nav-list>
        </div>

        <div class="product-row row col-md-9">
          <div *ngFor="let product of productList"
          class="col-lg-3 col-4 product-card mt-4">
            <div class="product-grid">
              <div class="product-thumb">
                <a [routerLink]="['/product', product.id]">
                  <img class="product-image img-fluid" src="{{product.imagePath}}">
                </a>
                <button type="submit" class="transmitv-cart add-to-cart">
                  Add to Cart
                </button>

              </div>
              <div class="product-content">
                <h3 class="product-title"><a [routerLink]="['/product', product.id]">{{product.title}}</a></h3>
                <span class="product-price">{{product.price}}</span>
              </div>
            </div>
          </div>

        </div>

      </div>


    </div>
  </div>
</section>
