<section class="product-detail" *ngIf="product">
  <div class="container py-5">
    <div class="product-description row mt-5">
      <div class="col-md-4 col-8">
        <div class="product-thumb">
            <img class="product-image img-fluid" src={{product.imagePath}}>
        </div>
      </div>
      <div class="col-md-8 col-8">
        <div class="product-content">
          <h3 class="product-title mb-2">{{product.title}}</h3>
          <h4 class="product-price mb-5">{{product.price}}</h4>
          <h3 class="product-heading mb-2">Product description:</h3>
          <p class="product-desc mb-5">{{product.description}}</p>
          <button type="submit" class="add-to-cart">
            Add to Cart
          </button>
        </div>
      </div>
    </div>

    <div class="product-detail row mt-5">
      <div class="detail-content col-10">
        <h3 class="product-heading mb-2">Product details</h3>
        <p class="product-desc mb-5">{{product.detail}}</p>
      </div>
    </div>

    <div class="product-review row mt-5">
      <div class="reviews col-10">
        <h3 class="product-reviews mb-2">Product Reviews</h3>
        <p class="review-text mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="reviewed-by">Username</span></p>
        <p class="review-text mb-3">Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. <span class="reviewed-by">Username</span></p>
        <p class="review-text mb-3">Arcu dui vivamus arcu felis. <span class="reviewed-by">Username</span></p>
      </div>

      <div class="write-review col-10">
        <h4 class="product-reviews mb-2">Review this Product</h4>
        <mat-form-field class="add-review col-10 mb-2" >
          <textarea matInput placeholder="Leave a comment..." value=""></textarea>
        </mat-form-field>
        <button type="submit" class="review-button col-4 mb-2">Submit</button>
      </div>
    </div>

  </div>
</section>
