/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --highlight-color: rgb(255, 115, 22);
  --shadow-color: rgb(206, 89, 55);
  --light-grey: #ADADAD;
  --dark-grey: #343B3F;
  --button-grey: #232020;
  --text-grey: #3a3535;
  --icons-blue: #4050B5;
  --lighter-blue: #8f99dd;
}
