<section class="collections">
  <div class="py-5">
    <div class="container py-lg-2">
      <h3 class="collections-title mb-0 text-center">Collections</h3>
      <div class="category-thumb row mt-5 justify-content-center align-items-center">
        <div *ngFor="let number of [0,1,2,3]"
          class="col-lg-2 col-md-4 col-6 category-image mx-3">
          <div class="category">
            <a href="#">
              <img src="../../assets/category/category1.png" class="img-fluid" alt="" />
              <div class="category-overlay">
                <h3 class="category-title">Category</h3>
              </div>
            </a>
          </div>
          <h4><a href="">Category1</a></h4>
        </div>

      </div>
    </div>
  </div>
</section>
