.collections {
  background-color: rgba(250, 190, 160, 0.1);
}

.collections-title {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 2px var(--shadow-color);
  text-transform: uppercase;
}

.category-row {
  align-items: center;
}

.category {
  text-align: center;
}

.category h4 {
  margin-top: 20px;
}

.category h4 a {
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  color: var(--button-grey);
  display: block;
  font-weight: 600;
  text-transform: capitalize;
}

.category h4 a:hover,
.category h4 a:focus,
.category h4 a:active {
  text-decoration: none;
  color: var(--highlight-color);
}

.category-image {
  position: relative;
  transition: all .2s ease-out 0s;
}

.category-image .category-overlay,
.category-image:after {
  position: absolute;
  left: 20px;
  right: 20px;
}

.category-image:after {
  content: "";
  display: block;
  background: rgba(31, 28, 28, 0.74902);
  top: 20px;
  bottom: 20px;
  opacity: 0;
  transform: rotate3d(-1, 1, 0, 100deg);
  transition: all .4s ease-in-out 0s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
}

.category-image:hover:after {
  opacity: .9;
  transform: rotate3d(0, 0, 0, 0deg);
}

.category-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
}

.category-image .category-overlay {
  top: 45%;
  opacity: 0;
  z-index: 10;
  transform: translate(10%, -30%);
  transition: all .2s ease-out 0s;
  text-align: center;
}

.category-image:hover .category-overlay {
  opacity: 1;
  transform: translate(0, -50%);
  transition-delay: .2s;
}

.category-image .category-title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin: 0;
  padding-top: 14px;
}

.category-image .category-title:hover {
  color: var(--highlight-color);
}

@media (max-width: 500px) {
  .category-image .category-title {
    font-size: 14px;
  }
}
